* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background-color: #2b2d42;
}
a {
  text-decoration: none;
  font-size: 0.725rem;
  color: #f46036;
}
header,
footer {
  min-height: 5vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 2rem;
  color: #ffffff;
  background-color: #f46036;
  transition: background-color 600ms;
}
button:hover {
  background-color: #d65734;
  transition: background-color 600ms;
}
.app__header {
  display: flex;
  align-items: center;
  height: 40px;
}
.app__header img {
  margin: 0 20px;
}
.app__container {
  width: 400px;
}
.app__container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__container input {
  width: 150px;
  padding: 5px 0;
}
.results__container {
  margin-top: 2.75rem;
}
.app__footer {
  text-align: center;
}
